<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="AgileMindEntities" connectionString="metadata=res://*/Data.AgileMindDB.csdl|res://*/Data.AgileMindDB.ssdl|res://*/Data.AgileMindDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=AgileMind;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>


</configuration>